name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - main
      - chore/lint*
  pull_request:

permissions:
    # Required: allow read access to the content for analysis.
    contents: read
    # Optional: allow read access to pull request. Use with `only-new-issues` option.
    pull-requests: read
    # Optional: Allow write access to checks to allow the action to annotate code in the PR.
    checks: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        go: [ '1.23', '1.22' ]
        include:
          - go: '1.23'
            lint: true
  
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v4.2.2

      # Running golangci-lint
      - name: Linting
        if: matrix.lint
        uses: golangci/golangci-lint-action@v6.3.2
        with:
          version: v1.56.2
          only-new-issues: true

      # Install Go
      - name: Setup go
        uses: actions/setup-go@v5.3.0
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        run: go build -v ./...

      - name: Test
        run: |
          go test -parallel 20 -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Codecov
        uses: codecov/codecov-action@v5.3.1
        with:
          fail_ci_if_error: true # optional (default = false)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  # For github to have a unique status check name
  build-status:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - run: echo 'All good'
